name: Deploy Project

on:
  push:
    branches:
      - master
    # tags:
    #   - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          port: ${{ secrets.SERVER_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/workspace/ArList
            git pull origin master

            echo "Building Frontend..."
            cd frontend
            npm install
            pm2 restart arlist-frontend || pm2 start npm --name "arlist-frontend" -- run dev

            echo "Building Backend..."
            cd ../backend
            
            pm2 restart arlist-backend || pm2 start "mvn spring-boot:run" --name "arlist-backend"